@font-face {
  font-family: 'webserver';
  src: url("../fonts/TitilliumWeb-Light.ttf"); }
body {
  overflow: hidden;
  font-family: 'webserver';
  margin: 0; }

svg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 26px;
  left: 0;
  background-color: #FFFFFF; }

textarea, input {
  font-family: 'webserver';
  font-size: 16px; }

.banner {
  height: 26px;
  background-color: #2b2b32;
  color: #FFFFFF;
  position: absolute;
  top: 0px;
  width: 100%; }
  .banner .title {
    float: left;
    background-image: url("../images/logo.png");
    background-size: 24px;
    background-repeat: no-repeat;
    padding: 0 0 0 24px; }
  .banner .username {
    float: right;
    padding: 0 10px; }

.tick rect {
  fill: #EBEBEB;
  stroke: #f5f5f5; }
.tick .saturday {
  fill: #B2ECFB; }
.tick .sunday {
  fill: #7FDFF9; }
.tick .today {
  fill: #84f973 !important; }
.tick text {
  font-size: 14px; }

.tick-month rect {
  fill: #EBEBEB;
  stroke: #EDEDED;
  opacity: 0.65; }
.tick-month text {
  font-size: 14px;
  fill: #000000; }

.note-type rect {
  fill: #f2f2f2; }
.note-type text {
  font-size: 14px;
  font-weight: bold; }

.note {
  cursor: pointer; }

.notes .region {
  fill: #FFFFFF;
  opacity: 0.1; }

.marker {
  fill: #2b2b32; }
  .marker text {
    fill: #FFFFFF;
    font-size: 12px; }
  .marker.collapsed {
    cursor: pointer; }
  .marker .del {
    cursor: pointer; }

.pointer {
  fill: #D1D1D1;
  pointer-events: none; }

.delete {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: #FFFFFF;
  float: right;
  cursor: pointer;
  padding: 6px 10px 6px 6px; }

.note-popup, .marker-popup {
  position: absolute;
  border: 2px solid #EBEBEB;
  background-color: #EBEBEB;
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box; }
  .note-popup .date, .marker-popup .date {
    float: left;
    margin-bottom: 5px;
    font-size: 13px; }
  .note-popup .content, .marker-popup .content {
    background-color: transparent;
    border: none;
    border-top: 1px solid #E0E0E0;
    padding-top: 5px;
    width: 97%;
    height: 77%;
    resize: none;
    overflow-y: visible; }
  .note-popup .footer, .marker-popup .footer {
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 98%;
    text-align: center; }

.popup-caret {
  fill: #EBEBEB; }

.marker-popup {
  position: relative;
  height: 100px;
  width: 300px;
  margin: auto;
  top: 150px; }
  .marker-popup .delete {
    background-color: #000000; }

.new-note-popup, .new-marker-popup {
  background-color: #EBEBEB;
  position: relative;
  top: 150px;
  width: 450px;
  text-align: center;
  margin: auto;
  border-radius: 4px; }
  .new-note-popup div, .new-marker-popup div {
    padding-top: 4px; }
  .new-note-popup .save, .new-marker-popup .save {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: #7FDFF9;
    color: #000000;
    padding: 6px 10px; }

.new-marker-popup {
  height: 100px; }
  .new-marker-popup div {
    padding-bottom: 20px; }
  .new-marker-popup input.label {
    width: 50%; }
  .new-marker-popup input.date {
    width: 25%; }
  .new-marker-popup .save {
    display: inline; }

.new-note-popup {
  height: 250px; }
  .new-note-popup input {
    width: 177px;
    padding: 4px;
    background-color: #ffffff;
    border: none; }
  .new-note-popup textarea {
    width: 97%;
    height: 66%;
    background-color: #ffffff;
    border: none;
    margin-top: 4px;
    resize: none; }
  .new-note-popup .save {
    float: right;
    display: block;
    margin: 4px 10px; }
  .new-note-popup .invalid {
    border: 1px solid #FF0000; }

.close {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  font-size: 18px; }

.open-banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgba(43, 43, 50, 0.75);
  color: #ffffff;
  border-radius: 5px;
  font-size: 32px;
  padding: 75px 20px;
  box-sizing: border-box;
  text-align: center;
  z-index: 100; }
  .open-banner img {
    text-align: center; }
  .open-banner .heading {
    padding-bottom: 10px;
    font-size: 62px; }
  .open-banner .brief {
    font-size: 16px;
    color: #c3c3c3; }
  .open-banner .note {
    margin: 50px auto;
    padding-top: 20px;
    bottom: 50px;
    width: 60%;
    text-align: center;
    font-size: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.5); }
    .open-banner .note a {
      color: white;
      font-style: italic; }
    .open-banner .note span {
      font-size: 14px; }
  .open-banner .controls {
    width: 100%;
    padding-top: 25px;
    text-align: center; }
    .open-banner .controls button {
      font-size: 16px;
      background-color: #30a4eb;
      padding: 10px;
      color: #000;
      border-radius: 2px;
      border: none;
      cursor: pointer;
      margin: 5px; }
    .open-banner .controls button.demo {
      background-color: #33eb83; }
  .open-banner .creator {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-image: url("../images/my-icon.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 2px 6px;
    padding: 10px 30px;
    text-align: left;
    font-size: 12px;
    height: 10px; }
    .open-banner .creator a {
      color: #FFFFFF; }

button.google {
  background-image: url("../images/google.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 2px 6px;
  padding-left: 30px !important; }

.floating-login, .floating-migrate {
  position: fixed;
  width: 100%;
  text-align: center; }
  .floating-login button, .floating-migrate button {
    font-size: 16px;
    background-color: #30a4eb;
    padding: 10px;
    color: #000;
    border-radius: 2px;
    border: none;
    cursor: pointer; }

.floating-migrate {
  top: 70px; }

.floating-login {
  bottom: 70px; }

.shortcuts {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 12px; }
  .shortcuts .shortcut {
    margin-right: 10px; }
  .shortcuts .key {
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 4px;
    background-color: #d3d3d3;
    color: #000000; }

.ui-autocomplete li {
  border: 1px solid #ebebeb;
  background-color: #ffffff; }
.ui-autocomplete .ui-state-focus {
  background-color: #d3d3d3; }
