@font-face {
  font-family: 'webserver';
  src: url("../fonts/TitilliumWeb-Light.ttf"); }
body {
  overflow: hidden;
  font-family: 'webserver';
  margin: 0; }

svg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 26px;
  left: 0;
  background-color: #FFFFFF; }

textarea, input {
  font-family: 'webserver';
  font-size: 16px; }

.banner {
  height: 26px;
  background-color: #2b2b32;
  color: #FFFFFF; }
  .banner .title {
    float: left;
    background-image: url("../images/logo.png");
    background-size: 24px;
    background-repeat: no-repeat;
    padding: 0 0 0 24px; }
  .banner .username {
    float: right;
    padding: 0 10px; }

.tick rect {
  fill: #EBEBEB;
  stroke: #f5f5f5; }
.tick .saturday {
  fill: #B2ECFB; }
.tick .sunday {
  fill: #7FDFF9; }
.tick .today {
  fill: #84f973 !important; }
.tick text {
  font-size: 14px; }

.tick-month rect {
  fill: #FFFFFF;
  stroke: #EDEDED;
  opacity: 0.65; }
.tick-month text {
  font-size: 14px;
  fill: #000000; }

.note-type rect {
  fill: #f2f2f2; }
.note-type text {
  font-size: 14px;
  font-weight: bold; }

.note {
  cursor: pointer; }

.pointer {
  fill: #D1D1D1;
  pointer-events: none; }

.note-popup {
  position: absolute;
  border: 2px solid #EBEBEB;
  background-color: #EBEBEB;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
  height: 200px; }
  .note-popup .content {
    background-color: transparent;
    border: none;
    width: 97%;
    height: 77%;
    resize: none;
    overflow-y: visible; }
  .note-popup .controls {
    text-align: center; }
    .note-popup .controls .delete {
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      color: #FFFFFF;
      position: absolute;
      bottom: 4px;
      right: 4px;
      cursor: pointer;
      padding: 6px 10px; }

.up-carat:before {
  content: '\e801';
  top: -23px;
  position: absolute;
  left: 191.5px;
  font-size: 32px;
  font-family: fontello;
  color: #EBEBEB; }

.down-carat:before {
  content: '\e802';
  top: 200px;
  position: absolute;
  left: 191.5px;
  font-size: 32px;
  font-family: fontello;
  color: #EBEBEB; }

.new-note-popup {
  background-color: #EBEBEB;
  position: relative;
  top: 150px;
  width: 450px;
  height: 250px;
  text-align: center;
  margin: auto;
  border-radius: 4px; }
  .new-note-popup div {
    padding-top: 4px; }
  .new-note-popup input {
    width: 177px;
    padding: 4px;
    background-color: #ffffff;
    border: none; }
  .new-note-popup textarea {
    width: 97%;
    height: 66%;
    background-color: #ffffff;
    border: none;
    margin-top: 4px;
    resize: none; }
  .new-note-popup .save {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    display: block;
    margin: 4px 10px;
    background-color: #7FDFF9;
    color: #000000;
    padding: 6px 10px;
    float: right; }
  .new-note-popup .invalid {
    border: 1px solid #FF0000; }

.close {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  font-size: 18px; }

.open-banner {
  position: relative;
  top: 50px;
  width: 600px;
  height: 400px;
  margin: auto;
  background-color: #2b2b32;
  color: #ffffff;
  border-radius: 5px;
  font-size: 32px;
  padding: 20px 20px;
  box-sizing: border-box;
  text-align: center; }
  .open-banner img {
    text-align: center; }
  .open-banner .heading {
    padding-bottom: 40px;
    font-size: 42px; }
  .open-banner .controls {
    position: absolute;
    width: 100%;
    bottom: 25px;
    text-align: center; }
    .open-banner .controls button {
      font-size: 16px;
      background-color: green;
      padding: 10px;
      color: #ffffff;
      border-radius: 2px;
      border: none;
      cursor: pointer; }
    .open-banner .controls button.demo {
      background-color: blue; }

.floating-login {
  position: fixed;
  bottom: 70px;
  width: 100%;
  text-align: center; }
  .floating-login button {
    font-size: 16px;
    background-color: green;
    padding: 10px;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    cursor: pointer; }

.shortcuts {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #000000; }
  .shortcuts .shortcut {
    margin-right: 10px; }
  .shortcuts .key {
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 4px;
    background-color: #d3d3d3;
    color: #000000; }
